@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
  scroll-behavior: smooth;
}

@layer base {

  :root {
    --background: 142 0% 100%;
    --foreground: 142 0% 10%;
    --card: 142 0% 100%;
    --card-foreground: 142 0% 15%;
    --popover: 142 0% 100%;
    --popover-foreground: 142 95% 10%;
    --primary: 142 70.2% 48.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 142 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 104 10% 95%;
    --muted-foreground: 142 0% 40%;
    --accent: 104 10% 90%;
    --accent-foreground: 142 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 142 0% 100%;
    --border: 142 20% 82%;
    --input: 142 20% 50%;
    --ring: 142 70.2% 48.6%;
    --radius: 0.5rem;
  }


  .dark {
    --background: 142 10% 5%;
    --foreground: 142 0% 90%;
    --card: 142 0% 5%;
    --card-foreground: 142 0% 90%;
    --popover: 142 10% 5%;
    --popover-foreground: 142 0% 90%;
    --primary: 142 70.2% 48.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 142 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 104 10% 15%;
    --muted-foreground: 142 0% 60%;
    --accent: 104 10% 15%;
    --accent-foreground: 142 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 142 0% 90%;
    --border: 142 20% 18%;
    --input: 142 20% 18%;
    --ring: 142 70.2% 48.6%;
    --radius: 0.5rem;
  }


}

@layer utilities {

  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding-container {
    @apply px-6 lg:px-20 3xl:px-5;
  }

  .my-container {
    @apply mx-auto max-w-[1440px] px-3 lg:px-20 2xl:px-5;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  width: 8px;
  /* Width of the scrollbar */
}

/* Track (the background of the scrollbar) */

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #4CAF50;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4CAF50dd;
}

/* Corner (where the horizontal and vertical scrollbars meet) */
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}